{{define "contact"}}
<!DOCTYPE html>
<html>
{{template "head" .}}

<body>
  <main class="wrapper">
    <section class="container">

      <a class="button" href="/contact?id={{.ID}}">Retour</a>

      <form action="contact?id={{.ID}}" enctype="multipart/form-data" method="POST">
        <div class="center">
          <img class="avatar" src="{{.Avatar}}">

          <label for="avatar">Image du contact</label>
          <input type="file" id="avatar" name="avatar" accept="image/png">

          <input type="checkbox" id="delete-avatar" name="delete-avatar"> Supprimer l'image
        </div>

        <fieldset>
          <div class="row">
            <div class="column">
              <label for="nameField">Nom</label>
              <input name="name" required placeholder="Nom" id="nameField" value="{{.Name}}" autofocus>
            </div>
            <div class="column">
              <label for="jobField">Métier</label>
              <input name="job" placeholder="Métier" id="jobField" value="{{.Job}}">
            </div>
          </div>

          <label for="addressField">Adresse</label>
          <input name="address" placeholder="Adresse" id="addressField" value="{{.Address}}">

          <div class="row">
            <div class="column">
              <label for="emailField">E-mail</label>
              <input name="email" placeholder="E-mail" id="emailField" value="{{.Email}}">
            </div>
            <div class="column">
              <label for="phoneField">Téléphone</label>
              <input name="phone" placeholder="Téléphone" id="phoneField" value="{{.Phone}}">
            </div>
          </div>

          <label for="commentField">Commentaire</label>
          <textarea name="comment" placeholder="Hi CJ …" id="commentField"></textarea>

          <div class="clearfix">
            <div class="float-left">
              <input class="button-primary" type="submit" value="Valider">
            </div>
            <div class="float-right">
              <button type=button class="button-outline" id="delete-button">Supprimer</button>
            </div>
          </div>
        </fieldset>
      </form>
    </section>
  </main>

  <!-- Modal -->
  <div id="delete-modal" class="modal">
    <div class="modal-content">
      <div class="clearfix">
        <div class="float-right">
          <div class="close">&times;</div>
        </div>
      </div>

      <p>Supprimer le contact ?</p>

      <div class="center">
        <form action="delete?id={{.ID}}" method="POST">
          <input class="button-primary" type="submit" value="Supprimer">
        </form>
      </div>
    </div>
  </div>

  <script src="static/main.js"></script>
</body>

</html>
{{end}}