{{define "home"}}
<!DOCTYPE html>
<html>
{{template "head" .}}

<body>
  <main class="wrapper">
    <section class="container">

      <h1 class="title">Contacts</h1>

      <div class="clearfix">
        <div class="float-right">
          <a class="button button-outline" href="new">Nouveau</a>
        </div>
      </div>

      <table>
        <colgroup>
          <col style="width:10%">
          <col style="width:50%">
          <col style="width:40%">
        </colgroup>
        <tbody>
          {{ range .Contacts }}
          <tr>
            <td><img class="avatar-small" src="static/avatar.png"></td>
            <td><strong><a href="contact?id={{ .ToID }}">{{.Name}}</a></strong></td>
            <td>{{ .Job }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </section>
  </main>
</body>

</html>
{{end}}