{{define "home"}}
<!DOCTYPE html>
<html>
{{template "head" .}}

<body>
  <main class="wrapper">
    <section class="container">
      
      <h1 class="title">Contakt</h1>

      <div class="clearfix">
        <div class="float-right">
          <a class="button button-outline" href="new">Nouveau</a>
        </div>
      </div>

      <table>
        <tbody>
          <tr>
            <td>27</td>
            <td>Stephen Curry</td>
          </tr>
          <tr>
            <td>25</td>
            <td>Klay Thompson</td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</body>

</html>
{{end}}